<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="Craft admin dashboard live demo. Check out all the features of the admin panel. A large number of settings, additional services and widgets." />
    <meta name="keywords" content="Craft, bootstrap, bootstrap 5, admin themes, free admin themes, bootstrap admin, bootstrap dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Craft - Multipurpose Bootstrap 5 HTML Admin Dashboard Theme" />
    <meta property="og:url" content="https://themes.getbootstrap.com/product/craft-bootstrap-5-admin-dashboard-theme" />
    <meta property="og:site_name" content="Keenthemes | Craft" />
    <link rel="canonical" href="https://preview.keenthemes.com/craft" />
    <link rel="shortcut icon" href="/logo/image.png" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link href="/assets/plugins/custom/leaflet/leaflet.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!-- Begin dataTable -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.2.0/css/fixedHeader.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css">
    <!-- End dataTable -->
    <link rel="stylesheet" href="/assets/css/customStyle.css" type="text/css">
    <!--end::Global Stylesheets Bundle-->
    <!--Begin::Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&amp;l=' + l : '';
            j.async = true;
            j.src = '../../www.googletagmanager.com/gtm5445.html?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5FS8GGP');
    </script>
    <!--End::Google Tag Manager -->
</head>

<body id="kt_body"
    class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled aside-fixed aside-default-enabled">


    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-row flex-column-fluid">
            <!--begin::Aside-->
            <div id="kt_aside" class="aside aside-default aside-hoverable" data-kt-drawer="true"
                data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}"
                data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}"
                data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggle">
                <!--begin::Brand-->
                <div class="aside-logo flex-column-auto pt-5 pb-5" id="kt_aside_logo">
                    <!--begin::Logo-->
                    <% if(currentUser) { %>
                   <% if(currentUser.role == "super admin" || currentUser.role == "admin" ) { %>
                    <a href="/admin/dashboard">
                        <img alt="Logo" src="/logo/image.png" class="h-50px logo-default" />
                        <img alt="Logo" src="/logo/image.png" class="h-50px logo-minimize" />
                    </a>
                    <% } %> 
                    <% if(currentUser.role == "customer" ) { %>
                    <a href="/dashboard">
                        <img alt="Logo" src="/logo/image.png" class="h-50px logo-default" />
                        <img alt="Logo" src="/logo/image.png" class="h-50px logo-minimize" />
                    </a>
                    <% } %> 
                    <% } %> 
                    <!--end::Logo-->
                </div>
                <!--end::Brand-->
                <!--begin::Aside menu-->
                <div class="aside-menu flex-column-fluid">
                    <!--begin::Aside Menu-->
                    <!--begin::Menu-->
                    <div class="menu menu-column menu-fit menu-rounded menu-title-gray-600 menu-icon-gray-400 menu-state-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold fs-5 my-5 mt-lg-2 mb-lg-0"
                        id="kt_aside_menu" data-kt-menu="true">
                        <div class="menu-fit hover-scroll-y me-lg-n5 pe-lg-5" id="kt_aside_menu_wrapper"
                            data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                            data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_aside_menu"
                            data-kt-scroll-offset="20px" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer">
                            <div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">
                                <div class="menu-sub menu-sub-accordion menu-active-bg">
                                    <span class="menu-link">
                                        <span class="menu-icon">
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
                                            <span class="svg-icon svg-icon-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none">
                                                    <rect x="2" y="2" width="9" height="9" rx="2" fill="black" />
                                                    <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2"
                                                        fill="black" />
                                                    <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2"
                                                        fill="black" />
                                                    <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2"
                                                        fill="black" />
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                        </span>
                                        <% if(currentUser) { %>
                                        <% if(currentUser.role == "super admin" || currentUser.role == "admin" ) { %>
                                        <a href="/admin/dashboard">Dashboard</a>
                                        <% } %>
                                        <% if(currentUser.role == "customer" || currentUser.role == "employee") { %>
                                        <a href="/dashboard">Dashboard</a>
                                        <% } %>
                                    </span>
                                </div>    
                            <!-- Begin Administrator side menu section -->
                            <% if(currentUser.role == "super admin" || currentUser.role == "admin" ) { %>
                            <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                                <span class="menu-link">
										<span class="menu-icon">
											<!--begin::Svg Icon | path: icons/duotune/general/gen022.svg-->
											<span class="svg-icon svg-icon-2">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
													<path opacity="0.3" d="M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM12 7C10.3 7 9 8.3 9 10C9 11.7 10.3 13 12 13C13.7 13 15 11.7 15 10C15 8.3 13.7 7 12 7Z" fill="black" />
													<path d="M12 22C14.6 22 17 21 18.7 19.4C17.9 16.9 15.2 15 12 15C8.8 15 6.09999 16.9 5.29999 19.4C6.99999 21 9.4 22 12 22Z" fill="black" />
												</svg>
											</span>
                                <!--end::Svg Icon-->
                                </span>
                                <span class="menu-title">Administrator</span>
                                <span class="menu-arrow"></span>
                                </span>
                                <div class="menu-sub menu-sub-accordion menu-active-bg">
                                    <% if(currentUser.role == "super admin" ) { %>
                                            <div class="menu-item">
                                                <a class="menu-link" href="/create/admin">
                                                    <span class="menu-bullet">
                                                        <span class="bullet bullet-dot"></span>
                                                    </span>
                                                    <span class="menu-title">Create Admin</span>
                                                </a>
                                            </div>
                                    <% } %> 
                                <div class="menu-item menu-accordion">
										<a class="menu-link" href="/admins">
                                            <span class="menu-bullet">
												<span class="bullet bullet-dot"></span>
                                            </span>
                                            <span class="menu-title">List Admins</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                                <span class="menu-link">
										<span class="menu-icon">
											<!--begin::Svg Icon | path: icons/duotune/general/gen022.svg-->
											<span class="svg-icon svg-icon-2">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
													<path opacity="0.3" d="M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM12 7C10.3 7 9 8.3 9 10C9 11.7 10.3 13 12 13C13.7 13 15 11.7 15 10C15 8.3 13.7 7 12 7Z" fill="black" />
													<path d="M12 22C14.6 22 17 21 18.7 19.4C17.9 16.9 15.2 15 12 15C8.8 15 6.09999 16.9 5.29999 19.4C6.99999 21 9.4 22 12 22Z" fill="black" />
												</svg>
											</span>
                                <!--end::Svg Icon-->
                                </span>
                                <span class="menu-title">Employee</span>
                                <span class="menu-arrow"></span>
                                </span>
                                <div class="menu-sub menu-sub-accordion menu-active-bg">
                                <div class="menu-item menu-accordion">
										<a class="menu-link" href="/create/employee">
                                            <span class="menu-bullet">
												<span class="bullet bullet-dot"></span>
                                            </span>
                                            <span class="menu-title">Create Employee</span>
                                        </a>
                                    </div> 
                                <div class="menu-item menu-accordion">
										<a class="menu-link" href="/employees">
                                            <span class="menu-bullet">
												<span class="bullet bullet-dot"></span>
                                            </span>
                                            <span class="menu-title">List Employees</span>
                                        </a>
                                    </div>
                                </div>
                            </div>  
                            <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                                <span class="menu-link">
										<span class="menu-icon">
											<!--begin::Svg Icon | path: icons/duotune/communication/com005.svg-->
											<span class="svg-icon svg-icon-2">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
													<path d="M20 14H18V10H20C20.6 10 21 10.4 21 11V13C21 13.6 20.6 14 20 14ZM21 19V17C21 16.4 20.6 16 20 16H18V20H20C20.6 20 21 19.6 21 19ZM21 7V5C21 4.4 20.6 4 20 4H18V8H20C20.6 8 21 7.6 21 7Z" fill="black" />
													<path opacity="0.3" d="M17 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H17C17.6 2 18 2.4 18 3V21C18 21.6 17.6 22 17 22ZM10 7C8.9 7 8 7.9 8 9C8 10.1 8.9 11 10 11C11.1 11 12 10.1 12 9C12 7.9 11.1 7 10 7ZM13.3 16C14 16 14.5 15.3 14.3 14.7C13.7 13.2 12 12 10.1 12C8.10001 12 6.49999 13.1 5.89999 14.7C5.59999 15.3 6.19999 16 7.39999 16H13.3Z" fill="black" />
												</svg>
											</span>
                                <!--end::Svg Icon-->
                                </span>
                                <span class="menu-title">Service</span>
                                <span class="menu-arrow"></span>
                                </span>
							    <div class="menu-sub menu-sub-accordion menu-active-bg">
                                    <div class="menu-item">
                                        <a class="menu-link" href="/create/booking">
                                            <span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
                                            </span>
                                            <span class="menu-title">Create Booking</span>
                                        </a>
                                    </div>
                                    <div class="menu-item">
                                        <a class="menu-link" href="/booking">
                                            <span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
                                            </span>
                                            <span class="menu-title">List Booking</span>
                                        </a>
                                    </div>
                                    <div class="menu-item menu-accordion">
										<a class="menu-link" href="/my-booking">
                                            <span class="menu-bullet">
												<span class="bullet bullet-dot"></span>
                                            </span>
                                            <span class="menu-title">My Booking</span>
                                        </a>
                                    </div>
                                </div>    
                            </div> 
                            <div class="menu-item">
                                <a class="menu-link" href="/customers">
                                    <span class="menu-icon">
											<!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
											<span class="svg-icon svg-icon-2">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
													<path opacity="0.3" d="M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM12 7C10.3 7 9 8.3 9 10C9 11.7 10.3 13 12 13C13.7 13 15 11.7 15 10C15 8.3 13.7 7 12 7Z" fill="black" />
													<path d="M12 22C14.6 22 17 21 18.7 19.4C17.9 16.9 15.2 15 12 15C8.8 15 6.09999 16.9 5.29999 19.4C6.99999 21 9.4 22 12 22Z" fill="black" />
												</svg>
											</span>
                                    <!--end::Svg Icon-->
                                    </span>
                                    <span class="menu-title">Customers</span>
                                </a>
                            </div>
                            <div class="menu-item pt-5">
                                <div class="menu-content">
                                    <span class="fw-bold text-muted text-uppercase fs-7">Apps</span>
                                </div>
                            </div>
                            <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                                <span class="menu-link">
										<span class="menu-icon">
											<!--begin::Svg Icon | path: icons/duotune/communication/com005.svg-->
											<span class="svg-icon svg-icon-2">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
													<path opacity="0.3" d="M22 12C22 13.8 21.5 15.5 20.7 17L14.9 7H20.7C21.5 8.5 22 10.2 22 12ZM3.3 7L6.2 12L12 2C8.3 2 5.1 4 3.3 7ZM3.3 17C5 20 8.3 22 12 22L14.9 17H3.3Z" fill="black" />
													<path d="M20.7 7H9.2L12.1 2C15.7 2 18.9 4 20.7 7ZM3.3 7C2.4 8.5 2 10.2 2 12C2 13.8 2.5 15.5 3.3 17H9.10001L3.3 7ZM17.8 12L12 22C15.7 22 18.9 20 20.7 17L17.8 12Z" fill="black" />
												</svg>
											</span>
                                <!--end::Svg Icon-->
                                </span>
                                <span class="menu-title">Menu</span>
                                <span class="menu-arrow"></span>
                                </span>
                                <div class="menu-sub menu-sub-accordion menu-active-bg">
                                    <div class="menu-item">
                                        <a class="menu-link" href="/create/menu">
                                            <span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
                                            </span>
                                            <span class="menu-title">Add Menu</span>
                                        </a>
                                    </div>
                                    <div class="menu-item">
                                        <a class="menu-link" href="/menus">
                                            <span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
                                            </span>
                                            <span class="menu-title">List Menus</span>
                                        </a>
                                    </div>
                                </div>  
                            </div>
                            <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                                <span class="menu-link">
										<span class="menu-icon">
											<!--begin::Svg Icon | path: icons/duotune/communication/com005.svg-->
											<span class="svg-icon svg-icon-2">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
													<path opacity="0.3" d="M21 22H3C2.4 22 2 21.6 2 21V5C2 4.4 2.4 4 3 4H21C21.6 4 22 4.4 22 5V21C22 21.6 21.6 22 21 22Z" fill="black" />
													<path d="M6 6C5.4 6 5 5.6 5 5V3C5 2.4 5.4 2 6 2C6.6 2 7 2.4 7 3V5C7 5.6 6.6 6 6 6ZM11 5V3C11 2.4 10.6 2 10 2C9.4 2 9 2.4 9 3V5C9 5.6 9.4 6 10 6C10.6 6 11 5.6 11 5ZM15 5V3C15 2.4 14.6 2 14 2C13.4 2 13 2.4 13 3V5C13 5.6 13.4 6 14 6C14.6 6 15 5.6 15 5ZM19 5V3C19 2.4 18.6 2 18 2C17.4 2 17 2.4 17 3V5C17 5.6 17.4 6 18 6C18.6 6 19 5.6 19 5Z" fill="black" />
													<path d="M8.8 13.1C9.2 13.1 9.5 13 9.7 12.8C9.9 12.6 10.1 12.3 10.1 11.9C10.1 11.6 10 11.3 9.8 11.1C9.6 10.9 9.3 10.8 9 10.8C8.8 10.8 8.59999 10.8 8.39999 10.9C8.19999 11 8.1 11.1 8 11.2C7.9 11.3 7.8 11.4 7.7 11.6C7.6 11.8 7.5 11.9 7.5 12.1C7.5 12.2 7.4 12.2 7.3 12.3C7.2 12.4 7.09999 12.4 6.89999 12.4C6.69999 12.4 6.6 12.3 6.5 12.2C6.4 12.1 6.3 11.9 6.3 11.7C6.3 11.5 6.4 11.3 6.5 11.1C6.6 10.9 6.8 10.7 7 10.5C7.2 10.3 7.49999 10.1 7.89999 10C8.29999 9.90003 8.60001 9.80003 9.10001 9.80003C9.50001 9.80003 9.80001 9.90003 10.1 10C10.4 10.1 10.7 10.3 10.9 10.4C11.1 10.5 11.3 10.8 11.4 11.1C11.5 11.4 11.6 11.6 11.6 11.9C11.6 12.3 11.5 12.6 11.3 12.9C11.1 13.2 10.9 13.5 10.6 13.7C10.9 13.9 11.2 14.1 11.4 14.3C11.6 14.5 11.8 14.7 11.9 15C12 15.3 12.1 15.5 12.1 15.8C12.1 16.2 12 16.5 11.9 16.8C11.8 17.1 11.5 17.4 11.3 17.7C11.1 18 10.7 18.2 10.3 18.3C9.9 18.4 9.5 18.5 9 18.5C8.5 18.5 8.1 18.4 7.7 18.2C7.3 18 7 17.8 6.8 17.6C6.6 17.4 6.4 17.1 6.3 16.8C6.2 16.5 6.10001 16.3 6.10001 16.1C6.10001 15.9 6.2 15.7 6.3 15.6C6.4 15.5 6.6 15.4 6.8 15.4C6.9 15.4 7.00001 15.4 7.10001 15.5C7.20001 15.6 7.3 15.6 7.3 15.7C7.5 16.2 7.7 16.6 8 16.9C8.3 17.2 8.6 17.3 9 17.3C9.2 17.3 9.5 17.2 9.7 17.1C9.9 17 10.1 16.8 10.3 16.6C10.5 16.4 10.5 16.1 10.5 15.8C10.5 15.3 10.4 15 10.1 14.7C9.80001 14.4 9.50001 14.3 9.10001 14.3C9.00001 14.3 8.9 14.3 8.7 14.3C8.5 14.3 8.39999 14.3 8.39999 14.3C8.19999 14.3 7.99999 14.2 7.89999 14.1C7.79999 14 7.7 13.8 7.7 13.7C7.7 13.5 7.79999 13.4 7.89999 13.2C7.99999 13 8.2 13 8.5 13H8.8V13.1ZM15.3 17.5V12.2C14.3 13 13.6 13.3 13.3 13.3C13.1 13.3 13 13.2 12.9 13.1C12.8 13 12.7 12.8 12.7 12.6C12.7 12.4 12.8 12.3 12.9 12.2C13 12.1 13.2 12 13.6 11.8C14.1 11.6 14.5 11.3 14.7 11.1C14.9 10.9 15.2 10.6 15.5 10.3C15.8 10 15.9 9.80003 15.9 9.70003C15.9 9.60003 16.1 9.60004 16.3 9.60004C16.5 9.60004 16.7 9.70003 16.8 9.80003C16.9 9.90003 17 10.2 17 10.5V17.2C17 18 16.7 18.4 16.2 18.4C16 18.4 15.8 18.3 15.6 18.2C15.4 18.1 15.3 17.8 15.3 17.5Z" fill="black" />
												</svg>
											</span>
                                <!--end::Svg Icon-->
                                </span>
                                <span class="menu-title">Bills</span>
                                <span class="menu-arrow"></span>
                                </span>
                                <div class="menu-sub menu-sub-accordion menu-active-bg">
                                    <div class="menu-item">
                                        <a class="menu-link" href="/create/bill">
                                            <span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
                                            </span>
                                            <span class="menu-title">Add Bill</span>
                                        </a>
                                    </div>
                                    <div class="menu-item">
                                        <a class="menu-link" href="/bills">
                                            <span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
                                            </span>
                                            <span class="menu-title">List Bills</span>
                                        </a>
                                    </div>
                                </div>  
                            </div>
                            <div class="menu-item">
                                <a class="menu-link" href="/messages">
                                    <span class="menu-icon">
											<!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
											<span class="svg-icon svg-icon-2">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
													<rect x="2" y="2" width="9" height="9" rx="2" fill="black"></rect>
													<rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black"></rect>
													<rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black"></rect>
													<rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black"></rect>
												</svg>
											</span>
                                    <!--end::Svg Icon-->
                                    </span>
                                    <span class="menu-title">Messages</span>
                                </a>
                            </div> 
                            <div class="menu-item">
                                <a class="menu-link" href="/chat">
                                    <span class="menu-icon">
											<!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
											<span class="svg-icon svg-icon-2">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
													<path opacity="0.3" d="M20 3H4C2.89543 3 2 3.89543 2 5V16C2 17.1046 2.89543 18 4 18H4.5C5.05228 18 5.5 18.4477 5.5 19V21.5052C5.5 22.1441 6.21212 22.5253 6.74376 22.1708L11.4885 19.0077C12.4741 18.3506 13.6321 18 14.8167 18H20C21.1046 18 22 17.1046 22 16V5C22 3.89543 21.1046 3 20 3Z" fill="black" />
													<rect x="6" y="12" width="7" height="2" rx="1" fill="black" />
													<rect x="6" y="7" width="12" height="2" rx="1" fill="black" />
												</svg>
											</span>
                                    <!--end::Svg Icon-->
                                    </span>
                                    <span  class="menu-title ">Chat</span>
                                </a>
                            </div>
                            <% } %>
                            <% } %> 
                            <!-- End Administrator side menu section -->
                            <!-- Begin Users side menu section -->
                            <% if(currentUser) { %>
                             <% if(currentUser.role == "customer" || currentUser.role == "employee") { %>
                            <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                                <span class="menu-link">
										<span class="menu-icon">
											<!--begin::Svg Icon | path: icons/duotune/general/gen022.svg-->
											<span class="svg-icon svg-icon-2">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
													<path d="M11.2929 2.70711C11.6834 2.31658 12.3166 2.31658 12.7071 2.70711L15.2929 5.29289C15.6834 5.68342 15.6834 6.31658 15.2929 6.70711L12.7071 9.29289C12.3166 9.68342 11.6834 9.68342 11.2929 9.29289L8.70711 6.70711C8.31658 6.31658 8.31658 5.68342 8.70711 5.29289L11.2929 2.70711Z" fill="black" />
													<path d="M11.2929 14.7071C11.6834 14.3166 12.3166 14.3166 12.7071 14.7071L15.2929 17.2929C15.6834 17.6834 15.6834 18.3166 15.2929 18.7071L12.7071 21.2929C12.3166 21.6834 11.6834 21.6834 11.2929 21.2929L8.70711 18.7071C8.31658 18.3166 8.31658 17.6834 8.70711 17.2929L11.2929 14.7071Z" fill="black" />
													<path opacity="0.3" d="M5.29289 8.70711C5.68342 8.31658 6.31658 8.31658 6.70711 8.70711L9.29289 11.2929C9.68342 11.6834 9.68342 12.3166 9.29289 12.7071L6.70711 15.2929C6.31658 15.6834 5.68342 15.6834 5.29289 15.2929L2.70711 12.7071C2.31658 12.3166 2.31658 11.6834 2.70711 11.2929L5.29289 8.70711Z" fill="black" />
													<path opacity="0.3" d="M17.2929 8.70711C17.6834 8.31658 18.3166 8.31658 18.7071 8.70711L21.2929 11.2929C21.6834 11.6834 21.6834 12.3166 21.2929 12.7071L18.7071 15.2929C18.3166 15.6834 17.6834 15.6834 17.2929 15.2929L14.7071 12.7071C14.3166 12.3166 14.3166 11.6834 14.7071 11.2929L17.2929 8.70711Z" fill="black" />
												</svg>
											</span>
                                <!--end::Svg Icon-->
                                </span>
                                <span class="menu-title">Service</span>
                                <span class="menu-arrow"></span>
                                </span>
                                <div style="display: none;" class="menu-sub menu-sub-accordion menu-active-bg">
                                    <div class="menu-item menu-accordion">
										<a class="menu-link" href="/create/booking">
                                            <span class="menu-bullet">
												<span class="bullet bullet-dot"></span>
                                            </span>
                                            <span class="menu-title">Booking</span>
                                        </a>
                                    </div>
                                    <div class="menu-item menu-accordion">
										<a class="menu-link" href="/my-booking">
                                            <span class="menu-bullet">
												<span class="bullet bullet-dot"></span>
                                            </span>
                                            <span class="menu-title">My Booking</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-item pt-5">
                                <div class="menu-content">
                                    <span class="fw-bold text-muted text-uppercase fs-7">Apps</span>
                                </div>
                            </div> 
                            <div class="menu-item">
                                <a class="menu-link" href="/menu">
                                    <span class="menu-icon">
											<!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
											<span class="svg-icon svg-icon-2">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
													<path opacity="0.3" d="M22 12C22 13.8 21.5 15.5 20.7 17L14.9 7H20.7C21.5 8.5 22 10.2 22 12ZM3.3 7L6.2 12L12 2C8.3 2 5.1 4 3.3 7ZM3.3 17C5 20 8.3 22 12 22L14.9 17H3.3Z" fill="black" />
													<path d="M20.7 7H9.2L12.1 2C15.7 2 18.9 4 20.7 7ZM3.3 7C2.4 8.5 2 10.2 2 12C2 13.8 2.5 15.5 3.3 17H9.10001L3.3 7ZM17.8 12L12 22C15.7 22 18.9 20 20.7 17L17.8 12Z" fill="black" />
												</svg>
											</span>
                                    <!--end::Svg Icon-->
                                    </span>
                                    <span class="menu-title">Menu</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a class="menu-link" href="/contact">
                                    <span class="menu-icon">
											<!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
											<span class="svg-icon svg-icon-2">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
													<rect x="2" y="2" width="9" height="9" rx="2" fill="black"></rect>
													<rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black"></rect>
													<rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black"></rect>
													<rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black"></rect>
												</svg>
											</span>
                                    <!--end::Svg Icon-->
                                    </span>
                                    <span class="menu-title">Contacts</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a class="menu-link" href="/chat">
                                    <span class="menu-icon">
											<!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
											<span class="svg-icon svg-icon-2">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
													<path opacity="0.3" d="M20 3H4C2.89543 3 2 3.89543 2 5V16C2 17.1046 2.89543 18 4 18H4.5C5.05228 18 5.5 18.4477 5.5 19V21.5052C5.5 22.1441 6.21212 22.5253 6.74376 22.1708L11.4885 19.0077C12.4741 18.3506 13.6321 18 14.8167 18H20C21.1046 18 22 17.1046 22 16V5C22 3.89543 21.1046 3 20 3Z" fill="black" />
													<rect x="6" y="12" width="7" height="2" rx="1" fill="black" />
													<rect x="6" y="7" width="12" height="2" rx="1" fill="black" />
												</svg>
											</span>
                                    <!--end::Svg Icon-->
                                    </span>
                                    <span  class="menu-title ">Chat</span>
                                </a>
                            </div>
                            <% } %>
                            <% } %> 
                        </div>
                    </div>
                    <!--end::Menu-->
                </div>
            </div>
            <!--end::Aside menu-->
            <!-- End Users side menu section -->
        </div>
            <!--end::Aside-->
            <!--begin::Wrapper-->
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                <!--begin::Header-->
                <div id="kt_header" class="header" data-kt-sticky="true" data-kt-sticky-name="header"
                    data-kt-sticky-offset="{default: '200px', lg: '300px'}">
                    <!--begin::Container-->
                    <!--begin::Logo bar-->
                            <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
                                <!--begin::Aside Toggle-->
                                <div class="d-flex align-items-center d-lg-none">
                                    <div class="btn btn-icon btn-active-color-primary ms-n2 me-1" id="kt_aside_toggle">
                                        <!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
                                        <span class="svg-icon svg-icon-2x">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="black" />
                                                <path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="black" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </div>
                                </div>
                                <!--end::Aside Toggle-->
                                <!--begin::Logo-->    
                                <% if(currentUser.role == "super admin"  && currentUser.role == "admin") { %>
                                <a href="/admin/dashboard" class="d-lg-none">
                                    <img alt="Logo" src="/logo/image.png" class="max-h-30px logo-default mh-40px" style="max-width:100%; height:auto;" />
                                </a>
                                <% } %>    
                                <% if(currentUser.role == "customer" ) { %>
                                <a href="/dashboard" class="d-lg-none">
                                    <img alt="Logo" src="/logo/image.png" class="max-h-30px logo-default mh-40px" style="max-width:100%; height:auto;" />
                                <% } %>
                                <!--end::Logo-->
                                <!--begin::Aside toggler-->
                                <div class="btn btn-icon w-auto ps-0 btn-active-color-primary d-none d-lg-inline-flex me-2 me-lg-5" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="aside-minimize">
                                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr060.svg-->
                                    <span class="svg-icon svg-icon-2 rotate-180">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M9.60001 11H21C21.6 11 22 11.4 22 12C22 12.6 21.6 13 21 13H9.60001V11Z" fill="black" />
                                            <path d="M6.2238 13.2561C5.54282 12.5572 5.54281 11.4429 6.22379 10.7439L10.377 6.48107C10.8779 5.96697 11.75 6.32158 11.75 7.03934V16.9607C11.75 17.6785 10.8779 18.0331 10.377 17.519L6.2238 13.2561Z" fill="black" />
                                            <rect opacity="0.3" x="2" y="4" width="2" height="16" rx="1" fill="black" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </div>
                                <!--end::Aside toggler-->
                            </div>
                        <!--end::Logo bar-->
                    <div class="container-fluid d-flex align-items-stretch justify-content-end">
                        <!--begin::Topbar-->
                        <div class="d-flex align-items-stretch justify-content-end flex-lg-grow-1">
                            <!--begin::Toolbar wrapper-->
                            <div class="d-flex align-items-stretch flex-shrink-0">
                                <div class="d-flex align-items-center ms-1 ms-lg-3">
                                    <% if(currentUser) { %>
                                        <a href="" class="nav-link text-black h4">
                                            <%= currentUser.firstName + " " + currentUser.lastName %>
                                        </a>
                                        <% } %>
                                </div>
                                <!--begin::User-->
                                <div class="d-flex align-items-center ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
                                    <!--begin::Menu wrapper-->
                                    <div class="cursor-pointer symbol symbol-35px symbol-lg-35px"
                                        data-kt-menu-trigger="click" data-kt-menu-attach="parent"
                                        data-kt-menu-placement="bottom-end">
                                        <img alt="Pic" src="<%= currentUser.avatar %>" />
                                    </div>
                                    <!--begin::Menu-->
                                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-primary fw-bold py-4 fs-6 w-275px"
                                        data-kt-menu="true">
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-3">
                                                <div class="menu-content d-flex align-items-center px-3">
                                                    <!--begin::Avatar-->
                                                    <div class="symbol symbol-50px me-5">
                                                        <img alt="Logo" src="<%= currentUser.avatar %>" />
                                                    </div>
                                                    <!--end::Avatar-->
                                                    <span>
                                                        <!--begin::Username-->
                                                        <div class="d-flex flex-column">
                                                            <div
                                                                class="fw-bolder d-flex align-items-center text-black fs-5">
                                                                Hello, <%= currentUser.firstName %>
                                                        <span class="badge badge-light-success fw-bolder fs-8 px-2 py-1 ms-2"><%= currentUser.role %></span>
                                                            </div>
                                                            <div class="fw-bold text-muted text-hover-primary fs-7">
                                                                <%= currentUser.email %>
                                                            </div>
                                                        </div>
                                                        <!--end::Username-->
                                                    </span>
                                                </div>
                                        </div>
                                        <div class="menu-item px-2 my-1">
												<a href="/profile/<%= currentUser.id %>" class="menu-link px-5">My Profile</a>
										</div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu separator-->
                                        <div class="separator my-2"></div>
                                        <!--end::Menu separator-->
                                        <div class="menu-item px-2 my-1">
                                            <a href="/new-password" class="menu-link px-5">Change Password</a>
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu separator-->
                                        <div class="separator my-2"></div>
                                        <!--end::Menu separator-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-2" data-kt-menu-trigger="hover"
                                            data-kt-menu-placement="left-start">
                                            <a href="/?clang=fr" class="menu-link px-5">
                                                <span class="menu-title position-relative">Language
                                                    <span
                                                        class="fs-8 rounded bg-light px-3 py-2 position-absolute translate-middle-y top-50 end-0">English
                                                        <img class="w-15px h-15px rounded-1 ms-2"
                                                            src="/assets/media/flags/united-states.svg"
                                                            alt="" />
                                                    </span>
                                                </span>
                                            </a>
                                            <!--begin::Menu sub-->
                                            <div class="menu-sub menu-sub-dropdown w-175px py-4">
                                                <!--begin::Menu item-->
                                                <div class="menu-item px-3">
                                                    <a href="#" attr-lang='en' class="changeLanguage menu-link d-flex px-5 <%=(lang=="en"?"active":"")%>">
                                                        <span class="symbol symbol-20px me-4">
                                                            <img class="rounded-1"
                                                                src="/assets/media/flags/united-states.svg" alt="" />
                                                        </span>English</a>
                                                </div>
                                                <!--end::Menu item-->
                                                <!--begin::Menu item-->
                                                <div class="menu-item px-3">
                                                    <a href="#" attr-lang='fr' class="changeLanguage menu-link d-flex px-5 <%=(lang=="fr"?"active":"")%>">
                                                        <span class="symbol symbol-20px me-4">
                                                            <img class="rounded-1" src="/assets/media/flags/france.svg"
                                                                alt="" />
                                                        </span>French</a>
                                                </div>
                                                <!--end::Menu item-->
                                            </div>
                                            <!--end::Menu sub-->
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-2">
                                            <% if(currentUser) { %>
                                    <% if(currentUser.role == "super admin" || currentUser.role == "admin" ) { %>
                                            <a href="/signout" class="menu-link px-5">Logout</a>
                                    <% } %> 
                                    <% if(currentUser.role == "customer" ) { %>
                                            <a href="/logout" class="menu-link px-5">Logout</a>
                                    <% } %> 
                                    <% } %> 
                                        </div>
                                        <!--end::Menu item-->
                                    </div>
                                    <!--end::Menu-->
                                    <!--end::Menu wrapper-->
                                </div>
                                <!--end::User -->
                            </div>
                            <!--end::Toolbar wrapper-->
                        </div>
                        <!--end::Topbar-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Header-->


                <%- body %>

                <!--begin::Footer-->
                <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
                    <!--begin::Container-->
                    <div class="container-fluid d-flex flex-column flex-md-row flex-stack">
                        <!--begin::Copyright-->
                        <div class="text-dark order-2 order-md-1">
                            <span class="text-muted fw-bold me-2">2021©</span>
                            <a href="https://smartcodegroup.com/" target="_blank"
                                class="text-gray-800 text-hover-primary">Smart Concept Group</a>
                        </div>
                        <!--end::Copyright-->
                        <!--begin::Menu-->
                        <!-- <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
                            <li class="menu-item">
                                <a href="https://keenthemes.com/" target="_blank" class="menu-link px-2">About</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://keenthemes.com/support" target="_blank"
                                    class="menu-link px-2">Support</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://themes.getbootstrap.com/product/craft-bootstrap-5-admin-dashboard-theme"
                                    target="_blank" class="menu-link px-2">Purchase</a>
                            </li>
                        </ul> -->
                        <!--end::Menu-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Footer-->

            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Root-->




    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true" style="background: #225e41;">
        <!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
        <span class="svg-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)"
                    fill="black" />
                <path
                    d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z"
                    fill="black" />
            </svg>
        </span>
        <!--end::Svg Icon-->
    </div>
    <!--end::Scrolltop-->





    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="/assets/plugins/global/plugins.bundle.js"></script>
    <script src="/assets/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <!--begin::Page Vendors Javascript(used by this page)-->
    <script src="/assets/plugins/custom/leaflet/leaflet.bundle.js"></script>
    <!--end::Page Vendors Javascript-->
    <!--begin::Page Custom Javascript(used by this page)-->
    <script src="/assets/js/custom/modals/create-app.js"></script>
    <script src="/assets/js/custom/modals/select-location.js"></script>
    <script src="/assets/js/custom/widgets.js"></script>
    <script src="/assets/js/custom/apps/chat/chat.js"></script>
    <script src="/assets/js/custom/modals/create-project.bundle.js"></script>
    <script src="/assets/js/custom/modals/upgrade-plan.js"></script>
    <script src="/assets/js/custom/intro.js"></script>

    <script src="/assets/js/custom/apps/user-management/users/view/view.js"></script>
    <script src="/assets/js/custom/apps/user-management/users/view/update-details.js"></script>
    <script src="/assets/js/custom/apps/user-management/users/view/add-schedule.js"></script>
    <script src="/assets/js/custom/apps/user-management/users/view/add-task.js"></script>
    <script src="/assets/js/custom/apps/user-management/users/view/update-email.js"></script>
    <script src="/assets/js/custom/apps/user-management/users/view/update-password.js"></script>
    <script src="/assets/js/custom/apps/user-management/users/view/update-role.js"></script>
    <script src="/assets/js/custom/apps/user-management/users/view/add-auth-app.js"></script>
    <script src="/assets/js/custom/apps/user-management/users/view/add-one-time-password.js"></script>
    <script src="/assets/js/custom/widgets.js"></script>
    <script src="/assets/js/custom/apps/chat/chat.js"></script>
    <script src="/assets/js/custom/modals/create-project.bundle.js"></script>
    <script src="/assets/js/custom/modals/upgrade-plan.js"></script>
    <script src="/assets/js/custom/intro.js"></script>
    <!--end::Page Custom Javascript-->
    <!-- Begin dataTable -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <!-- End dataTable -->

    <!-- begin::charts -->
 <script src="https://code.highcharts.com/highcharts.js"></script>
 <script src="https://code.highcharts.com/modules/exporting.js"></script>
 <script src="https://code.highcharts.com/modules/export-data.js"></script>
 <script src="https://code.highcharts.com/modules/accessibility.js"></script>
 <script>
    $(document).ready(function () {
        var table = $('#example').DataTable( {
            responsive: true,
            aaSorting: []
        } );

        new $.fn.dataTable.FixedHeader( table );
    });

    $('.changeLanguage').on('click', function(e){
        e.preventDefault();
        var params = $(this).attr('attr-lang');
        $.ajax({
            url: '/?clang='+params,
            type: 'GET',
            success: function(data) {
                window.location.href="";
            },
            error: function(error) {
            }
        })
    })
    
    // begin function to close the desactivate modal
    $(function() {
        $('#closeDesactivate').click(function() {
            $('.groupMemberModal').modal('hide');
        });
        $('.closeDesactivate').click(function() {
            $('.modal').modal('hide');
        });
    });
    // end function to close the desactivate modal
    
    // begin function to close the activate modal
    $(function() {
        $('#closeActivate').click(function() {
            $('.modal').modal('hide');
        });
        $('.closeActivate').click(function() {
            $('.modal').modal('hide');
        });
    });
    // end function to close the activate modal
    
    // begin function to close the desactivate modal
    $(function() {
        $('#closeDesactivate').click(function() {
            $('#kt_modal_desactivate').modal('hide');
        });
    });
    // end function to close the desactivate modal
    
    // begin function to close the activate modal
    $(function() {
        $('#closeActivate').click(function() {
            $('#kt_modal_activate').modal('hide');
        });
    });
    // end function to close the activate modal

    // begin function to close the block modal
    $(function() {
        $('#closeBlock').click(function() {
            $('#kt_modal_block').modal('hide');
        });
    });
    // end function to close the block modal

    // begin function to close the unblock modal
    $(function() {
        $('#closeUnblock').click(function() {
            $('#kt_modal_unblock').modal('hide');
        });
    });
    // end function to close the unblock modal

    // begin function to close the delete modal
    $(function() {
        $('#closeDelete').click(function() {
            $('#kt_modal_confirm_delete').modal('hide');
        });
    });
    // end function to close the delete modal
</script>
<!-- End dataTable -->

<% if(currentUser) { %>
<% if(currentUser.role == "super admin" || currentUser.role == "admin" ) { %>
<script>
    <% if(page == 'dashboard') { %>
        Highcharts.chart('courbe_evolution', {
            title: {
                text: "Evolutionary table of the platform"
            },
            subtitle: {
                text: "Depending on the period"
            },
            xAxis: {
                type: 'datetime',
                labels: {
                    format: '{value:%d-%m-%Y}'
                }
            },
            yAxis: {
                title: {
                    text: "Number"
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                }
            },
            series: [{
                    name: "Users",
                    data: [
                        <% users_stat.forEach(element => { %>
                            [
                                <%= new Date(element.createdAt).getTime() %>, <%= element.count %>
                            ],
                        <% }); %>
                    ]
                }, 
                {
                    name: "Bookings",
                    data: [
                        <% bookings_stat.forEach(element => { %>
                            [
                                <%= new Date(element.createdAt).getTime() %>, <%= element.count %>
                            ],
                        <% }); %>
                    ]
                },
            ]
        });
    <% } %>
</script>
<% } %> 
<% if(currentUser.role == "customer" ) { %>
    <script>
        <% if(page == 'dashboard') { %>
            Highcharts.chart('courbe_evolution', {
                title: {
                    text: "Evolutionary table of the platform"
                },
                subtitle: {
                    text: "Depending on the period"
                },
                xAxis: {
                    type: 'datetime',
                    labels: {
                        format: '{value:%d-%m-%Y}'
                    }
                },
                yAxis: {
                    title: {
                        text: "Number"
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: true
                    }
                },
                series: [
                    {
                        name: "Bookings",
                        data: [
                            <% bookings_stat.forEach(element => { %>
                                [
                                    <%= new Date(element.createdAt).getTime() %>, <%= element.count %>
                                ],
                            <% }); %>
                        ]
                    },
                ]
            });
        <% } %>
    </script>
<% } %> 
<% } %> 
    <!-- Begin MultiSelector -->
    <script>
        console.log('printing......')
        const element = document.getElementById('test')
        console.log(element)
    </script>
     <!--end::MultiSelector -->
    <!--end::Javascript-->
    <!--Begin::Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FS8GGP" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!--End::Google Tag Manager (noscript) -->



</body>

</html>